In [1]:
import pandas as pd
a=[1,7.2,2]
myvar=pd.Series(a)
print(myvar)

0    1.0
1    7.2
2    2.0
dtype: float64

In [4]:
print(myvar[0])

1.0

In [5]:
a=[1,7,2]
myvar=pd.Series(a, index = ["x","y","z"])
print(myvar)

x    1
y    7
z    2
dtype: int64

In [6]:
print(myvar["y"])

7

In [7]:
import pandas as pd
s1=pd.Series([-1,-1,1,3,5,'gaurav',7.3])
print(s1)

0        -1
1        -1
2         1
3         3
4         5
5    gaurav
6       7.3
dtype: object

In [8]:
s1[:2]

0    -1
1    -1
dtype: object

In [9]:
print(s1[2])

1

In [10]:
a=[1,7,2]
myvar=pd.Series(a,index=['x','y','z'])
print(myvar)

x    1
y    7
z    2
dtype: int64

In [11]:
print(myvar["y"])

7

In [12]:
Calories={"day1":420,"day2":380,"day3":390}
myvar=pd.Series(Calories)
print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [13]:
print(s1[[2,1,0]])

2     1
1    -1
0    -1
dtype: object

In [14]:
type(s1)

pandas.core.series.Series

In [15]:
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(s['a'])

1

In [16]:
data={"Calories":[420,380,390],"duration":[50,40,45]}
df=pd.DataFrame(data)
print(df)

   Calories  duration
0       420        50
1       380        40
2       390        45

In [17]:
data={'Name':['Tom','Jack','Steve','Ricky'],'Age':[28,34,29,42]}
df=pd.DataFrame(data,index=['rank1','rank2','rank3','rank4'])
print(df)

        Name  Age
rank1    Tom   28
rank2   Jack   34
rank3  Steve   29
rank4  Ricky   42

In [18]:
print(df.loc["rank2"])

Name    Jack
Age       34
Name: rank2, dtype: object

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, rank1 to rank4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     4 non-null      int64
dtypes: int64(1), object(1)
memory usage: 268.0+ bytes

In [20]:
df.dtypes

Name    object
Age      int64
dtype: object

In [21]:
df.columns

Index(['Name', 'Age'], dtype='object')

In [22]:
df.size

8

In [23]:
df.describe()

             Age
count   4.000000
mean   33.250000
std     6.396614
min    28.000000
25%    28.750000
50%    31.500000
75%    36.000000
max    42.000000